body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.mHeader{
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url('bgClothes.jpeg');
  background-size: cover;
}

.header-top{
  position: relative;
  height: 50px;
}

.insertpicture{
  position:relative;
}

.insertpicture .pic1{
  position:absolute;
  opacity: .7;
  top: 200px;
  left: 3%;
}

.insertpicture .pic2{
  position:absolute;
  opacity: .7;
  top: 200px;
  left: 22.5%;
}

.insertpicture .pic3{
  position:absolute;
  opacity: .7;
  top: 200px;
  left: 42.5%;
}

.insertpicture .pic4{
  position:absolute;
  opacity: .7;
  top: 200px;
  left: 61%;
}
.insertpicture .pic5{
  position:absolute;
  opacity: .7;
  top: 200px;
  left: 80%;
}

.header-top .name{
  position: absolute;
  top: 100px;
  left:50%;
  transform: translate(-50%, -50%);
}

.btn{
  position: absolute;
  margin: 10px;
  background: #56cfe1;
  border-radius: 25px;
  font-weight: 700;
}

.btn1{
  right: 0%;
  font-size: 17px;
  color: #001219;
}

.btn2{
  left: 0%;
  font-size: 17px;
  color: #001219;
}

.btn1:hover, .btn2:hover{
  color: #ca6702;
}


.headerConts{
  position: absolute;
  border-radius: 25px;
  top:50%;
  left: 10%;
}

.headerConts h1{
  color: #ffb703;
  font-weight: 700;
  font-size: 3.8rem;
  text-align: center;
  line-height: 3.3rem;
}